* {
    background-color: white;
}

.content {
    float: right;
    width: 100%;
    height: auto;

    .AddEmployee {
        margin: auto;
        width: 80%;
        height: auto;
        border: 5px solid rgb(227, 222, 222);
        border-radius: 10px;
        background-color: white;

        ul {
            list-style-type: none;
            background-color: white;

            li {
                background-color: white;
                margin-top: 10px;

                input {
                    background-color: white;
                    border: 2px solid gray;
                    width: 50%;
                    height: 30px;
                    border-radius: 5px;
                }

                button {
                    border: 2px solid white;
                    background-color: blue;
                    width: 30%;
                    color: white;
                    font-size: 1.5em;
                    height: 40px;
                    border-radius: 5px;
                }

                p {
                    background-color: white;
                    color: blue;
                }
            }
        }
    }

    .listEmployees {
        width: 80%;
        margin: auto;

        .todo-child {
            width: 80%;
            margin: auto;
            padding-top: 10px;
            height: 40px;
            border-bottom: 1px solid grey;

            &:first-child {
                border-top: 1px solid grey;
            }

            button {
                cursor: pointer;
                background-color: yellow;
                border: 2px solid yellow;
                margin: 0 3px;
                border-radius: 5px;
            }
        }
    }
}